.column__dashboard {
    display: none;
    width: 90%;
    min-height: 90%;

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;

    }
}

.widgets__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &__icons {
        display: flex;
        width: 50%;
        gap: 15px;

        &__add {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            width: 100% !important;
            border: 3px solid $color-success;
            border-radius: 20px;
            background-color: #fff;
            padding: 11%;
            cursor: pointer;
            transition: .5s;
            box-shadow: 1px 5px 10px -2px rgba(0,0,0,0.4);

            &:hover {
                background-color: $color-success;
                & i {
                    color: #fff;
                }
                & p {
                    color: #fff;
                }
            }
        }

        i {
            font-size: 3rem;
            color: $color-success;
        }
        p {
            text-transform: uppercase;
            text-align: center;
            font-size: 1.25rem;
            font-weight: bold;
            color: $color-success;
        }

    }
    
    &__notifications {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        .notification {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            padding: 15px 10px;
            background-color: #fff;
            border: 3px solid;
            border-radius: 20px;
            box-shadow: 1px 5px 10px -2px rgba(0,0,0,0.4);


            &__info {
                border-color: $color-info;
                color: $color-info;
            }

            &__warning {
                border-color: $color-warn;
                color: $color-warn;
            }

            &__success {
                border-color: $color-success;
                color: $color-success;
            }

            i {
                font-size: 2rem;
            }

            p {
                max-width: 70%;
                font-size: 1.1rem;
            }

            .fa-window-close {
                cursor: pointer;
                position: absolute;
                color: $color-trash;
                top: 5%;
                right: 3%;
                transition: .3s;

                &:hover {
                    opacity: 0.9;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.table__wrapper {
    margin-top: 1.2rem;
    background-color: #fff;
    padding: 1rem;
    border: 3px solid $color-logo2;
    border-radius: 20px;
    box-shadow: 1px 5px 10px -2px rgba(0,0,0,0.4);

}
.number__week {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    color: $color-logo2;

    .number__plan {
        font-weight: bold;
    }

}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font-size: 1.3rem;
  
    thead {
      @media (max-width: 1270px) {
        left: -9999px;
        position: absolute;
        visibility: hidden;
      }
    }
  
    tr {
      background: white;
      border-bottom: 1px solid;
  
      @media (max-width: 1270px) {
        border-bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
      }
      th,
      td {
        text-align: center;
        padding: 10px 20px;
        width: 14.29%;
      }
      td {
        @media (max-width: 1270px) {
          border: 1px solid $color-logo2;
          margin: 0 -1px -1px 0;
          padding-top: 35px;
          position: relative;
          width: 100%;
        }
        
      }
  
      span {
        background: #cf7500be;
        color: #fff;
        display: none;
        font-size: 10px;
        font-weight: bold;
        padding: 5px;
        position: absolute;
        text-transform: uppercase;
        top: 0;
        left: 0;
        font-size: 0.9rem;
        @media (max-width: 1270px) {
          display: block;
        }
      }
    }
}

.switch__table {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    p {
      display: flex;
      align-items: center;
      gap: 5px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      transition: .3s;

      &:hover {
        color: $color-logo2;
        }
    }

}
select {
    font-size: 1rem;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    outline: none;
}
@media (min-width: 1280px) {
    .meal__title {
        display: none;
    }
}
@media (max-width: 800px) {
    .widgets__wrapper {
        flex-direction: column-reverse;

        &__icons {
            width: 100%;
        }
        
        &__notifications {
            width: 100%;
        }
    }
}

@media (max-width: 410px) {
    .widgets__wrapper__icons {
        flex-direction: column;
    }
}